
@media (prefers-reduced-motion:no-preference) {
    
    .fadeIn{
        animation: fadeInAnim cubic-bezier(.37,.11,0,.83);
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 50svh;
        animation-fill-mode: forwards;
        
        
    }
    
    @keyframes fadeInAnim {
        from{
            scale:0.7!important;
            transform: translate(0px,100px)!important;
            opacity: 0!important;
        }
        to{
            scale:1!important;
            transform: translate(0px,0px)!important;
            opacity: 1!important;
        }
    }
}