:root{
    --displacement: -60svh;
}

@media (prefers-reduced-motion:no-preference) {
    

    .slideIn{
        animation: slideIn cubic-bezier(.37,.11,0,.83);
        animation-timeline: view();
        animation-range-start: cover;
        animation-range-end: 30svh;
        animation-fill-mode: forwards;
        transform-origin: bottom center;

    }
    
    @keyframes slideIn {
        from{
            transform: translateX(var(--displacement)) scale(.5);
            opacity: 0;
        }
        to{
            transform: translateX(0svw) scale(1);

            opacity: 1;
        }
    }
}