
.SVGTopTriangleDivider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.SVGTopTriangleDivider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 87px;
}

.SVGTopTriangleDivider .shape-fill {
    fill: #000000;
}